@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}

.liquid-glass {
  @apply bg-white/5 backdrop-blur-sm border border-white/20
}

@keyframes animation-fade-in {
  from {
    filter: blur(3px);
    opacity: 0;
    transform: rotate(3deg);
    transform-origin: top left;
  }

  to {
    filter: blur(0px);
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: center center;
  }
}

.animation-fade-in {
  animation: animation-fade-in 0.5s ease-in-out forwards;
}

@keyframes animation-emoji {
  from {
    transform: rotate(-14deg);
    transform-origin: center center;
    scale: 1;
  }

  to {
    transform: rotate(14deg);
    transform-origin: center center;
    scale: 1.05;
  }
}

.animation-emoji {
  animation:
    animation-fade-in 0.5s ease-in-out forwards,
    animation-emoji 3s ease-in-out infinite alternate;
}

/* Prevent horizontal scrollbar from overflowing children */
html,
body,
#__next,
main {
  overflow-x: hidden;
}